.table-position {
    margin: 50px !important;
}

.add-report {
    margin-bottom: 10px;
}

.dropdown-position {
    padding: 1.2% 0 2% 0;
}

.dropdown-width {
    min-width: 30.4%;
}

.img-preview {
    width: 300px;
    padding: 5% 0 3% 0;
    border-radius: 20px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Chose logo:';
    text-align: left;
}

.image-row {
    padding-top: 4%;
}

@media screen and(max-width:992px){
    .add-report-mobile {
        margin-top: 8% !important;
    }
}